/* style et couleur de l'arrire de page  */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #2196f3, #4caf50);
  color: #333;
  margin: 0;
  padding: 20px;
}
/* couleur de containe de tableau */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to right, #4caf50, #2196f3);
  box-shadow: 8px 14px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  opacity: 80%;
}
/* style de grand titre */
h1 {
  text-align: center;
  color: #480cfc;
}
/*  style de parti de rechrche */
.search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-bar input,
.search-bar select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  width: 48%;
  cursor: pointer;
}
/* style de tableau e couleur */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

table th {
  background: linear-gradient(to right, #4caf50, #2196f3);
  color: white;
}

/* table tbody tr:nth-child(even) {
    background: linear-gradient(to right, #4caf50, #2196f3);
  } */

table tbody tr:hover {
  background-color: #eaf4f4;
}

table td {
  color: #555;
}
/* style des errors */
#error-message {
  display: none;
  color: red;
  font-weight: bold;
}
/* partit de pagination aec coleur de button */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
button {
  background: linear-gradient(to right, #4caf50, #2196f3);
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 50px;
  box-shadow: 8px 14px 16px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
button:hover{
    background: linear-gradient(to right, #2196f3, #4caf50);
}
label{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
#rowsPerPage{
    padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  width: 20%;
  cursor: pointer;
}